/***********************CORPO***********************/
body{
	margin: 0;
	padding: 0;
}
/***********************END CORPO***********************/


/***********************MENU***********************/
.container-menu{
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 300px;	
	background: #8B8989;
}

.menu{
	padding: 0;
	margin: 90px 0 0  200px;
	float: left;
	width: 600px;
	height: 100px;
}


.titulo{
	float: left;
	margin: 40px 0 0 20px;
	width: 450px;
	height: 200px;
}


p{
	border-right: solid 1px #CDC9A5;
	padding: 0;
	font-family: arial black;
	color: #CDC9A5;
	font-size: 50px;
}

li{
	color: #8B8989;
	background: #D3D3D3;
	padding: 10px;
	margin: 0px 0px 0 1px;
	float: left;
	list-style: none;
	font-family: arial;
	font-size: 20px;
	
}

a:hover li{
	text-shadow: 0 0 20px #fff, 0 -10px 20px #fff,
	0 10px 20px #fff, -20px 0 40px #fff,
	20px 0 40px #fff;
}
/***********************END MENU***********************/

/***********************OUTRO***********************/
